.leftSideScreen{
  width:100vw;
  height: 100vh;
}
.divAtualizar{
  background-color: #51dcff;
  width: 100%;
  height:50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.atualizarPokemon, .inputNumber{
  width: 50%;
  border-radius: 5px;
}
.pokemonInfo{
  display: flex;
  width: 100%;
  height:50vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
}

  .PokeName, .pokemonCardImage,.Poketype{
  width: 50%;
  height: 5%;
  border: 3px groove white;
  border-radius: 8px;
  background-image: linear-gradient(180deg, #51dcff 0%, #bcecff 80%);  
} 
.PokeName{
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}
.pokemonCardImage {
  width: 50%;
  height: 50%;
  align-items: center;
  justify-content: center;
}